# Edit and Rename this file to ".env"
token = "Your token"
serverIds = "Your server IDs separated by semicolon(;)"

# voiceServers = "http://localhost:50021?engine=VOICEVOX;http://localhost:50025?engine=SHAREVOX"
voiceServers = "http://localhost:50021?engine=VOICEVOX"

voiceServerTextLengthLimit = 128

#デフォルト -> VOICEVOX:ずんだもん（ノーマル）
defaultSpeakerEngine = "VOICEVOX"
defaultSpeakerId = 3 
defaultSpeakerSpeedScale = 1.0
defaultSpeakerPitchScale = 0.0
defaultSpeakerIntonationScale = 1.0

speakerSpeedScaleUpperLimit = 2.00
speakerSpeedScaleLowerLimit = 0.50

speakerPitchScaleUpperLimit = 0.15
speakerPitchScaleLowerLimit = -0.15

speakerIntonationScaleUpperLimit = 2.00
speakerIntonationScaleLowerLimit = 0.00

samplingRate = 48000

guildConfigsDir = "./guild_configs"
guildDictionariesDir = "./guild_dictionaries"
